
#top {
    position: relative;
/*    background-color: #ffffff;
    color: black;*/
    margin: 0px 0px 5px 0px;
    width:84%;
    left: 8.2%;
    border-radius: 8px;
}

#cabecalho {
    text-align:center;
 }


#rodape {
    position: relative;
    background:url("../../resources/images/fw2.png") ;
    background-color: #c2dfef;
    left: 8%;
    padding-top: 100px;
    padding-left: 20px;
    margin: 0px 0px -20px 0px;
    width:83%;
    height:50px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius: 10px; 
    
    }

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.conteudo {
    position: relative;
    background-color: white;
    padding: 10px;
    height: 890px;
    width:83%;
    border-top-right-radius:16px;
    border-top-left-radius:16px;
    left: 8%;
    color: black;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

/*#top a:link, #top a:visited {
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: black;
  font-weight : bold;
  text-decoration : underline;
}*/


