<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <body>

        <ui:composition template="./Template.xhtml">

            <ui:define name="content">
                <h:form id="formulario" prependId="false" >

                    <p:fieldset legend="Dados do Fornecedor:" >

                        <p:panelGrid id="gridCadastroCompras" columns="8" >

                            
                            <p:outputLabel value="Fornecedor:" for="txtFornecedor" />
                            <p:autoComplete id="txtFornecedor" 
                                            value="#{CompraBean.fornecedor}"   minQueryLength="1" completeMethod="#{FornecedorBean.encontreiro}" 
                                            converter="fornecedorConverter"
                                            var="c" itemLabel="#{c.nome}" itemValue="#{c}" forceSelection="true"
                                            size="20"  >
                                <p:ajax event="itemSelect" process="@this" />
                            </p:autoComplete>

                            <p:commandButton  value="Adicionar Produto" process="@this" onclick="PF('dglAdicionaProduto').show();" />

                            <p:dialog header="Selecione o Produto" style="font-weight:bold" dynamic="true"
                                      widgetVar="dglAdicionaProduto" resizable="false" id="dlg1"
                                      showEffect="fade" hideEffect="fade" 
                                      modal="true" >
                                <h:form id="formAdicionaProduto" >
                                    <p:panelGrid id="pnlAdicionaProduto" columns="4">  

                                        <p:outputLabel value="Produto:" for="txtProduto"  />
                                        <p:autoComplete id="txtProduto"
                                                        value="#{CompraBean.produtoSelecionado}" minQueryLength="1" completeMethod="#{ProdutoBean.encontreiro}" 
                                                        converter="produtoConverter" required="true"
                                                        var="p" itemLabel="#{p.nome}" itemValue="#{p}" forceSelection="true"  
                                                        size="20" > 
                                            <p:ajax event="itemSelect" listener="#{CompraBean.atualizarPreco}"  update="txtPreco" ></p:ajax> 
                                        </p:autoComplete>


                                        <p:outputLabel id="quantidade" value="Quantidade" for="txtQuantidade" />
                                        <p:spinner id="txtQuantidade"  value="#{CompraBean.quantidadeProduto}" min="1" max="1000" size="1" />

                                        <p:outputLabel for="txtPreco"  value="Preço" />
                                        <p:inputText id="txtPreco" value="#{CompraBean.preco}"  size="5" />

                                        <p:commandButton  value="Adicionar" action="#{CompraBean.adicionarProduto}" update="grItens,txtQuantidade,txtProduto,txtPreco,txtTotal,growl"  process="@form"/>





                                    </p:panelGrid>
                                </h:form>
                            </p:dialog>



                        </p:panelGrid>
                    </p:fieldset>

                    <p:commandButton   value="Finalizar Compra" process="@this" action="#{CompraBean.salvar}" update="growl,@form"  >
                        <p:confirm header="Confirma compra" message="Deseja Confirmar a compra?" icon="ui-icon-alert"  />
                    </p:commandButton>
                    
                     <p:confirmDialog widgetVar="dglconfirmaCompra" global="true" id="dglConfirma"  showEffect="fade" hideEffect="fade" >
                        <p:commandButton value="Sim"  type="button"  styleClass="ui-confirmdialog-yes" icon="ui-icon-check"  />
                        <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" onclick="PF('dglconfirmaCompra').hide();" />
                    </p:confirmDialog>


                    <p:dataTable  value="#{CompraBean.items}" var="item" id="grItens"  scrollable="true" >
                        <f:facet name="header">
                            Fornecedors Cadastrados                    
                        </f:facet>

                        <p:column style="width:16px" headerText="Produto">
                            #{item.nomeProduto}
                        </p:column>

                        <p:column style="width:16px" headerText="Quantidade">
                            #{item.quantidade}
                        </p:column>


                        <p:column style="width:16px" headerText="Valor Unitario">
                            #{item.quantidade}
                        </p:column>

                        <p:column style="width:16px" headerText="total">
                            #{item.total}
                        </p:column>

                        <p:column style="width:6px" headerText="Editar">

                        </p:column>
                        <p:column style="width:6px" headerText="Excluir">

                        </p:column>
                    </p:dataTable>


                    <p:separator />



                    <p:outputLabel value="Total:" for="txtTotal" />
                    <p:inputText id="txtTotal" value="#{CompraBean.compra.total}" readonly="true"  >
                        <f:convertNumber pattern="#0.000" locale="pt_BR"/>
                    </p:inputText>


                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
