<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pm="http://primefaces.org/mobile">

    <body>

        <ui:composition template="./Template.xhtml">

            <ui:define name="content">
                <center>
                    <h:form id="formulario" >
                        <p:panelGrid columns="2">

                            <f:facet name="header">
                                Cadastro de Produtos
                            </f:facet>

                            <p:outputLabel value="Produto:" for="txtNome" />
                            <p:inputText id="txtNome" value="#{ProdutoBean.produto.nome}" required="true" size="30" /> 


                            <p:outputLabel value="Preço:" for="txtPreco" />
                            <p:inputText id="txtPreco" value="#{ProdutoBean.produto.preco}" required="true" size="10" /> 

                            <p:commandButton id="botaosalvar" actionListener="#{ProdutoBean.salvar}" ajax="false" value="Salvar" 
                                             icon="ui-icon-disk"  update="growl,txtNome,txtPreco,dropUnidade" />

                            <f:facet name="footer">
                                <center>  - </center>
                            </f:facet>

                        </p:panelGrid>
                    </h:form>
                </center>


            </ui:define>

        </ui:composition>

    </body>
</html>
