<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">




    <body>

        <ui:composition template="./Template.xhtml">

            <ui:define name="content">

                <h:form id="formulario" >

                    <p:fieldset legend="Dados do Cliente:" >

                        <p:panelGrid columns="4">

                            <p:outputLabel value="Cliente:" for="txtCliente" />
                            <p:inputText id="txtCliente" value="#{ClienteBean.cliente.nome}" required="true" size="57" /> 


                            <p:outputLabel value="Email:" for="txtEmail" />
                            <p:inputText id="txtEmail" required="false" label="email" size="58" 
                                         requiredMessage="Por-favor insira o email."
                                         validatorMessage="E-mail Inválido, Insira-o novamente"
                                         value="#{ClienteBean.cliente.email}">

                                <f:validateRegex
                                    pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />

                            </p:inputText>
                           
                            <p:outputLabel value="RG:" for="txtRG" />
                            <p:inputText id="txtRG" value="#{ClienteBean.cliente.rg}"
                                         required="false" size="30"  /> 

                            <p:outputLabel value="CPF:" for="txtCPF" />
                            <p:inputMask id="txtCPF" value="#{ClienteBean.cliente.cpf}"
                                         required="false"  size="20" mask="999.999.999-99" /> 
                            
                            
                            <p:outputLabel value="Telefone:" for="txtTelefone" />
                            <p:inputMask id="txtTelefone" value="#{ClienteBean.cliente.telefone}"
                                         required="false" size="20" mask="(99) 9999-9999" /> 

                            <p:outputLabel value="Celular:" for="txtcell" />
                            <p:inputMask id="txtcell" value="#{ClienteBean.cliente.celular}"
                                         required="false" size="20" mask="(99) 99999-9999" /> 

                        </p:panelGrid>
                    </p:fieldset>

                    <p:graphicImage library="images" name="line.jpg" />

                    <p:fieldset legend="Endereço do Cliente:" >

                        <p:panelGrid columns="6">

                            <p:outputLabel value="Rua:" for="Rua" />
                            <p:inputText id="Rua" value="#{ClienteBean.cliente.rua}" 
                                         required="false" size="35" /> 


                            <p:outputLabel value="Bairro:" for="Bairro" />
                            <p:inputText id="Bairro" value="#{ClienteBean.cliente.bairro}" 
                                         required="false"  size="35" /> 

                            <p:outputLabel value="Cidade:" for="cidade" />
                            <p:inputText id="cidade" value="#{ClienteBean.cliente.cidade}"
                                         required="false" size="24"  />

                            <p:outputLabel value="Referência:" for="ref" />
                            <p:inputText id="ref" value="#{ClienteBean.cliente.referencia}"
                                         required="false" size="30" />

                            <p:outputLabel value="CEP:" for="cep" />
                            <p:inputMask id="cep" value="#{ClienteBean.cliente.cep}"
                                         required="false" size="12" mask=" 99.999-999" /> 


                            <h:outputLabel value="UF:" for="uf"/>
                            <h:selectOneMenu  id="uf"
                                              value="#{ClienteBean.cliente.uf}"
                                              style="width: 80px;"> 

                                <f:selectItem itemLabel="Selecione"
                                              itemValue="Nenhum"  />

                                <f:selectItem itemLabel="AC"
                                              itemValue="Acre"  />

                                <f:selectItem itemLabel="AL"
                                              itemValue="Alagoas"  />

                                <f:selectItem itemLabel="AM"
                                              itemValue="Amazonas"  />

                                <f:selectItem itemLabel="AP"
                                              itemValue="Amapá"  />

                                <f:selectItem itemLabel="BA"
                                              itemValue="Bahia"  />

                                <f:selectItem itemLabel="CE"
                                              itemValue="Ceará"  />

                                <f:selectItem itemLabel="DF"
                                              itemValue="Distrito Federal"  />

                                <f:selectItem itemLabel="ES"
                                              itemValue="Espirito Santo"  />

                                <f:selectItem itemLabel="GO"
                                              itemValue="Goias"  />

                                <f:selectItem itemLabel="MA"
                                              itemValue="Maranhão"  />

                                <f:selectItem itemLabel="MG"
                                              itemValue="Minas Gerais"  />

                                <f:selectItem itemLabel="MS"
                                              itemValue="Mato Grosso Sul"  />

                                <f:selectItem itemLabel="MT"
                                              itemValue="Mato Grosso"  />

                                <f:selectItem itemLabel="PA"
                                              itemValue="Pará"  />

                                <f:selectItem itemLabel="PB"
                                              itemValue="Paraiba"  />

                                <f:selectItem itemLabel="PE"
                                              itemValue="Pernanbuco"  />

                                <f:selectItem itemLabel="PI"
                                              itemValue="Piaui"  />

                                <f:selectItem itemLabel="PR"
                                              itemValue="Parana"  />

                                <f:selectItem itemLabel="RJ"
                                              itemValue="Rio de Janeiro"  />

                                <f:selectItem itemLabel="RN"
                                              itemValue="Rio Grande do Norte"  />

                                <f:selectItem itemLabel="RO"
                                              itemValue="Rondônia"  />

                                <f:selectItem itemLabel="RR"
                                              itemValue="Roraima"  />

                                <f:selectItem itemLabel="RS"
                                              itemValue="Rio Grande do Sul"  />

                                <f:selectItem itemLabel="SC"
                                              itemValue="Santa Catarina"  />

                                <f:selectItem itemLabel="SE"
                                              itemValue="Sergipe"  />

                                <f:selectItem itemLabel="SP"
                                              itemValue="São Paulo"  />

                                <f:selectItem itemLabel="TO"
                                              itemValue="Tocantins"  />

                            </h:selectOneMenu> 



                            <p:outputLabel value="Número:" for="num" />
                            <p:inputText id="num" value="#{ClienteBean.cliente.numero}"
                                         required="false" size="4" />

                            <p:outputLabel value="Ativo:" for="txtAtivo" />
                            <p:selectBooleanCheckbox id="txtAtivo" value="#{ClienteBean.cliente.ativo}"
                                                     required="true" /> 

                        </p:panelGrid>
                    </p:fieldset>

                    <p:graphicImage library="images" name="line.jpg" />

                    <center><p:commandButton id="botaosalvar" actionListener="#{ClienteBean.salvar}" value="Salvar" validateClient="true"
                                             icon="ui-icon-disk"  update="growl,txtCliente,txtEmail,txtCPF,txtRG,txtTelefone,txtcell,Rua,Bairro,cidade,ref,cep,uf,num" />

                        <p:commandButton id="botaocancelar" value="Cancelar" type="reset" />
                    </center>








                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
