<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <body>

        <ui:composition template="./Template.xhtml">

            <ui:define name="content">
                 <h:form id="formulario" >
                     
                     <p:fieldset legend="Dados do Fornecedor:" >
                     
                    <p:panelGrid columns="4">
                     
                        <p:outputLabel value="Nome:" for="txtNome" />
                        <p:inputText id="txtNome" value="#{FornecedorBean.fornecedor.nome}" required="true" size="56" /> 

                         <p:outputLabel value="Email:" for="txtEmail" />
                            <p:inputText id="txtEmail" required="true" label="email" size="58" 
                                         requiredMessage="Por-favor insira o email."
                                         validatorMessage="E-mail Inválido, Insira-o novamente"
                                         value="#{FornecedorBean.fornecedor.email}">

                                <f:validateRegex
                                    pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />

                            </p:inputText> 
                        
                        <p:outputLabel value="CNPJ:" for="txtCNPJ" />
                        <p:inputMask id="txtCNPJ" value="#{FornecedorBean.fornecedor.cnpj}"
                                     required="true" size="50" mask="99.999.999/9999-99"  /> 
                       
                        <p:outputLabel value="Telefone:" for="txtTelefone" />
                        <p:inputMask id="txtTelefone" value="#{FornecedorBean.fornecedor.telefone}"
                                     required="true" size="20" mask="(99) 9999-9999" /> 
                        
                        <p:outputLabel value="Celular:" for="txtcell" />
                        <p:inputMask id="txtcell" value="#{FornecedorBean.fornecedor.celular}"
                                     required="false" size="20" mask="(99) 99999-9999" /> 
                                                 
                         </p:panelGrid>
                     </p:fieldset>
                     
                     <p:graphicImage library="images" name="line.jpg" />
                        
                        <p:fieldset legend="Endereço do Fornecedor" >

                        <p:panelGrid columns="6">

                            <p:outputLabel value="Rua:" for="Rua" />
                            <p:inputText id="Rua" value="#{FornecedorBean.fornecedor.rua}" 
                                        required="true" size="35" /> 


                            <p:outputLabel value="Bairro:" for="Bairro" />
                            <p:inputText id="Bairro" value="#{FornecedorBean.fornecedor.bairro}" 
                                        required="false"  size="35" /> 

                            <p:outputLabel value="Cidade:" for="cidade" />
                            <p:inputText id="cidade" value="#{FornecedorBean.fornecedor.cidade}"
                                        required="false" size="24"  />
                            
                            <p:outputLabel value="Referência:" for="ref" />
                            <p:inputText id="ref" value="#{FornecedorBean.fornecedor.referencia}"
                                        required="false" size="30" />
                            
                            <p:outputLabel value="CEP:" for="cep" />
                            <p:inputMask id="cep" value="#{FornecedorBean.fornecedor.cep}"
                                         required="false" size="12" mask=" 99.999-999" /> 
                            
                           <h:outputLabel value="UF:" for="uf"/>
                            <h:selectOneMenu  id="uf"
                                              value="#{FornecedorBean.fornecedor.uf}"
                                              style="width: 90px;"> 

                                <f:selectItem itemLabel="Selecione"
                                              itemValue="Nenhum"  />

                                <f:selectItem itemLabel="AC"
                                              itemValue="Acre"  />

                                <f:selectItem itemLabel="AL"
                                              itemValue="Alagoas"  />

                                <f:selectItem itemLabel="AM"
                                              itemValue="Amazonas"  />

                                <f:selectItem itemLabel="AP"
                                              itemValue="Amapá"  />

                                <f:selectItem itemLabel="BA"
                                              itemValue="Bahia"  />

                                <f:selectItem itemLabel="CE"
                                              itemValue="Ceará"  />

                                <f:selectItem itemLabel="DF"
                                              itemValue="Distrito Federal"  />

                                <f:selectItem itemLabel="ES"
                                              itemValue="Espirito Santo"  />

                                <f:selectItem itemLabel="GO"
                                              itemValue="Goias"  />

                                <f:selectItem itemLabel="MA"
                                              itemValue="Maranhão"  />

                                <f:selectItem itemLabel="MG"
                                              itemValue="Minas Gerais"  />

                                <f:selectItem itemLabel="MS"
                                              itemValue="Mato Grosso Sul"  />

                                <f:selectItem itemLabel="MT"
                                              itemValue="Mato Grosso"  />

                                <f:selectItem itemLabel="PA"
                                              itemValue="Pará"  />

                                <f:selectItem itemLabel="PB"
                                              itemValue="Paraiba"  />

                                <f:selectItem itemLabel="PE"
                                              itemValue="Pernanbuco"  />

                                <f:selectItem itemLabel="PI"
                                              itemValue="Piaui"  />

                                <f:selectItem itemLabel="PR"
                                              itemValue="Parana"  />

                                <f:selectItem itemLabel="RJ"
                                              itemValue="Rio de Janeiro"  />

                                <f:selectItem itemLabel="RN"
                                              itemValue="Rio Grande do Norte"  />

                                <f:selectItem itemLabel="RO"
                                              itemValue="Rondônia"  />

                                <f:selectItem itemLabel="RR"
                                              itemValue="Roraima"  />

                                <f:selectItem itemLabel="RS"
                                              itemValue="Rio Grande do Sul"  />

                                <f:selectItem itemLabel="SC"
                                              itemValue="Santa Catarina"  />

                                <f:selectItem itemLabel="SE"
                                              itemValue="Sergipe"  />

                                <f:selectItem itemLabel="SP"
                                              itemValue="São Paulo"  />

                                <f:selectItem itemLabel="TO"
                                              itemValue="Tocantins"  />

                            </h:selectOneMenu> 

                            
                            <p:outputLabel value="Número:" for="num" />
                            <p:inputText id="num" value="#{FornecedorBean.fornecedor.numero}"
                                        required="false" size="4" />
                            
                            <p:outputLabel value="Ativo:" for="txtAtivo" />
                            <p:selectBooleanCheckbox id="txtAtivo" value="#{FornecedorBean.fornecedor.ativo}"
                                                     required="true" /> 
                            
                            </p:panelGrid>
                    </p:fieldset>
                     <p:graphicImage library="images" name="line.jpg" />
                            <center><p:commandButton id="botaosalvar" actionListener="#{FornecedorBean.salvar}" value="Salvar" 
                        icon="ui-icon-disk"  update="growl,txtNome,txtEmail,txtCNPJ,txtTelefone,Rua,Bairro,cidade,ref,cep,uf,num,txtcell" />
                        
                                <p:commandButton id="botaocancelar" value="Cancelar" type="reset"/>
                        
                        </center>
                         
                </h:form>
                
               
                      
            </ui:define>

        </ui:composition>

    </body>
</html>
