<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./Template.xhtml">

           <ui:define name="content">

                <div style="text-align: center;">
                    <span style="font-size: x-large;">Help Online</span><br />
                    <div>
                        <br /></div>
                    <div>
                        <span style="font-family: inherit; font-size: x-large;"><b>Como faço para fazer um cadastro?</b></span><br /></div>
                    <p>
                        Para fazer um cadastro acesse o menu que fica abaixo da logo marca do Software (Logo do aplicação), para acessar é simples, o menu foi desenvolvido
                        bem detalhadamente para que o usuário possa interagir sem qualquer dificuldade, tudo separado
                        e organizado de acordo com a necessidade do cliente, para acessar os submenus é só passar o 
                        mouse por cima do item desejado Exemplo: Cliente, e nele será listado como abaixo:&nbsp;</p>

                    <p:graphicImage library="helpon" name="menu1cli.jpg"/>
                                    
                    <p>Logo depois é só clicar e a pagina correspondete será aberta, lá você poderá cadastrar só preencher os campos corretamente e nehum
                    erro ocorrerá.</p>
                        
                    <p><span style="font-family: inherit; font-size: x-large;"><b>Esta dando erro ao salvar oque pode ser?</b></span><br /></p>
                        <p>
                        Nas paginas que contém cadastro seja, cliente, fornecedor, produtos, tipo, compras e vendas todos os campos com
                        (*) esses campos serão obrigatórios, caso o usuário não digite irá aparecer uma messagem de erro no canto superior direito ex:&nbsp;</p>
                        <p:graphicImage library="helpon" name="erro.jpg"/>
                        
                        <p><span style="font-family: inherit; font-size: x-large;"><b>Como faço para editar um cadastro ou apagar?</b></span><br />  </p>  
                         <p>Para editar basta clicar no icone prancheta com o lápis e editar, ou para apagar é só clicar </p>
                         <p:graphicImage library="helpon" name="editar.jpg"/>
                         
                         <p><span style="font-family: inherit; font-size: x-large;"><b>Perdi o manual oque fazer?</b></span><br /></p>
                             Para baixar o manual clique aqui.
                             
                             
                           <p><span style="font-family: inherit; font-size: x-large;"><b>Informações!</b></span><br />  </p>
                         Para mais informações e explicações mais detalhadas sobre a aplicação
                         acesse o manual, caso não tenha baixe-o logo acima.
                         
                         <p><span style="font-family: inherit; font-size: x-large;"><b>Como faço para sair da aplicação?</b></span><br /> </p>
                         
                                Para sair da aplicação basta apenas clicar em sair, e a aba desta aplicação será encerrada em seu navegador (Browser).
                    
                </div>
            </ui:define>

        </ui:composition>

    </body>
</html>
