<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./Template.xhtml">

            <ui:define name="content">
                <div style="text-align: center;">              
                    <p:graphicImage library="images" name="BemVindo.png"/>
                 <p> </p>
                <script type="text/javascript">
                    
                    var ss = -1;
                    function atualizaContador(futuro)
                    {
                        ss = (ss == -1) ? futuro : ss;
                        var faltam = 'Você será redirecionado para Vendas em ' + ss + ' segundos.';

                        if (ss > 0) {
                            document.getElementById('contador').innerHTML = faltam;
                            ss--;
                            setTimeout(atualizaContador, 1000);
                        } else {
                            location.href = "CadastroVenda.xhtml";
                        }
                    }
                </script>
                    
                 
                <body onLoad="atualizaContador(10);">
                    <div id="contador"> </div>
                </body>
                 <p>Caso não queira esperar acesse o Menu logo acima.</p>
                    </div>
            </ui:define>

        </ui:composition>

    </body>
</html>
