<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pm="http://primefaces.org/mobile">

    <body>

        <ui:composition template="./../Template.xhtml">

            <ui:define name="content">
             
                <h:form id="formulario" >
                     <f:facet name="header">
                        Cadastro de Cliente
                    </f:facet>
                    <p:panelGrid columns="2">

                        <p:outputLabel value="Produto:" for="txtNome" />
                        <p:inputText id="txtNome" value="#{ProdutoBean.produto.nome}" required="true" /> 

                        <p:outputLabel value="Tipo:" for="txtTipo" />
                        <p:inputText id="txtTipo" value="#{ProdutoBean.produto.nome}" required="true" /> 

                        <p:outputLabel value="Preço:" for="txtPreco" />
                        <p:inputText id="txtPreco" value="#{ProdutoBean.produto.nome}" required="true" /> 

                        <p:outputLabel value="Unidade:" for="txtUnidade" />
                        <p:selectOneListbox id="txtNome" value="#{ProdutoBean.produtos}" required="true" /> 

                        <p:commandButton id="botaosalvar" actionListener="#{ClienteBean.salvar}" value="Salvar" 
                        icon="ui-icon-disk"  update="growl,txtCliente,txtEmail,txtRG,txtCPF,txtTelefone" />
                        

                    </p:panelGrid>
                </h:form>
            </ui:define>

        </ui:composition>
            </ui:define>

        </ui:composition>

    </body>
</html>
