<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <body>

        <ui:composition template="./Template.xhtml">

            <ui:define name="content">
                <p:separator/>

                <h:form id="Formulario">
                    <center> 
                        <p:panelGrid columns="4" id="grideiro">

                            <f:facet name="header">
                                Pesquisa de Fornecedores:
                            </f:facet>

                            <p:outputLabel value="Fornecedor:" for="PesquisaFornecedor" />
                            <p:inputText id="PesquisaFornecedor" value="#{pesquisaFornecedorBean.fornecedorPesquisado.nome}"  label="Fornecedores" size="50" />

                            <p:outputLabel value="CNPJ:" for="CNPJ" />
                            <p:inputMask size="16" mask="99.999.999/9999-99" id="CNPJ" value="#{pesquisaFornecedorBean.fornecedorPesquisado.cnpj}"  label="CNPJ" />

                            <f:facet name="footer">
                                <center><p:commandButton  id="salvation" actionListener="#{pesquisaFornecedorBean.pesquisaFornecedores()}" ajax="false"  update="gridFornecedores" value="Pesquisar" icon="fa fa-search" /></center>
                            </f:facet>

                        </p:panelGrid>
                    </center> 
                    <p:separator/>



                    <center>
                        <p:dataTable  value="#{pesquisaFornecedorBean.listaFornecedor}" var="fornecedor" id="gridFornecedores"  >
                            <f:facet name="header">
                                Fornecedores Cadastrados               
                            </f:facet>

                            <p:column style="width:16px" headerText="Info">
                                <p:rowToggler/>
                            </p:column>

                            <p:column headerText="Nome" width="290">
                                #{fornecedor.nome}
                            </p:column>

                            <p:column headerText="E-mail" width="260">
                                #{fornecedor.email}
                            </p:column>

                            <p:column headerText="CNPJ">
                                #{fornecedor.cnpj}
                            </p:column>

                            <p:column headerText="Editar" width="50">

                                <p:commandLink  process="@this"  update=":frmedit:pnlCadastroFornecedor,:frmedit:pnlCadastroFornecedorEndereco" onclick="PF('dglEditarFornecedor').show();"  >
                                    <p:graphicImage library="images" name="edit_property.png" />
                                    <f:setPropertyActionListener target="#{pesquisaFornecedorBean.fornecedorSelecionado}" value="#{fornecedor}" />
                                </p:commandLink>
                                <!-- Abaixo janela de deletar user -->

                                <p:commandLink  process="@this" update="deletUser:pnlDell" onclick="PF('dglDeletarfornecedor').show();"  >
                                    <p:graphicImage library="images" name="del.png" />
                                    <f:setPropertyActionListener target="#{pesquisaFornecedorBean.fornecedorSelecionado}" value="#{fornecedor}" />
                                </p:commandLink>

                                <!-- fim janela de deletar user /-->
                            </p:column>

                            <p:rowExpansion>
                                <h:form id="form">

                                    <p:growl id="msgs" showDetail="true" />


                                    <p:tabView>
                                        <p:tab title="Detalhes do Cliente:">
                                            <p:panelGrid  columns="2" columnClasses="label,value" style="width:500px;height:200px">

                                                <p:outputLabel value="CNPJ:"  />
                                                #{fornecedor.cnpj}

                                                <p:outputLabel value="Telefone:"  />
                                                #{fornecedor.telefone}

                                                <p:outputLabel value="Celular:" />
                                                #{fornecedor.celular}


                                            </p:panelGrid>

                                        </p:tab>

                                        <p:tab title="Endereço do Cliente:">

                                            <p:panelGrid  columns="2" columnClasses="label,value" style="width:500px">

                                                <p:outputLabel value="Rua:"  />
                                                #{fornecedor.rua}


                                                <p:outputLabel value="Bairro:"  />
                                                #{fornecedor.bairro}

                                                <p:outputLabel value="Cidade:"  />
                                                #{fornecedor.cidade}

                                                <p:outputLabel value="Referência:" />
                                                #{fornecedor.referencia}

                                                <p:outputLabel value="CEP:"  />
                                                #{fornecedor.cep}

                                                <p:outputLabel value="UF:"  />
                                                #{fornecedor.uf}

                                                <p:outputLabel value="Número:"  />
                                                #{fornecedor.numero}

                                            </p:panelGrid>

                                        </p:tab>  

                                    </p:tabView>
                                </h:form>
                            </p:rowExpansion>



                            <f:facet name="footer">
                                <center>  - </center>
                            </f:facet>

                        </p:dataTable>  </center>
                </h:form>



                <p:dialog header="Apagar?" style="font-weight:bold"
                          widgetVar="dglDeletarfornecedor" resizable="false" id="dlg1"
                          showEffect="fade" hideEffect="fade" 
                          modal="true" >
                    <h:form id="deletUser">
                        <p:panelGrid id="pnlDell" columns="4">

                            <p:outputLabel value="ID:" />
                            #{pesquisaFornecedorBean.fornecedorSelecionado.id}

                            <p:outputLabel value="Cliente:"  />

                            #{pesquisaFornecedorBean.fornecedorSelecionado.nome}


                        </p:panelGrid>
                        <center>
                            <p:commandButton id="botaodeletar" actionListener="#{pesquisaFornecedorBean.remover}" value="Deletar" 
                                             icon="ui-icon-disk"  update="growl,:Formulario:gridFornecedores" oncomplete="PF('dglDeletarfornecedor').hide();" />
                            <p:commandButton id="botaocancelar1" value="Cancelar" onclick="PF('dglDeletarfornecedor').hide();" />
                        </center>

                    </h:form> </p:dialog>



                <p:dialog header="Editar Fornecedor" style="font-weight:bold"
                          widgetVar="dglEditarFornecedor" resizable="false" id="dlg"
                          showEffect="fade" hideEffect="fade" 
                          modal="true" >
                    <h:form id="frmedit">


                        <p:fieldset legend="Dados do Cliente:" >
                            <p:panelGrid id="pnlCadastroFornecedor" columns="4">


                                <p:outputLabel value="Nome:" for="txtNome" />
                                <p:inputText id="txtNome" value="#{pesquisaFornecedorBean.fornecedorSelecionado.nome}" required="true" size="56" /> 

                                <p:outputLabel value="Email:" for="txtEmail" />
                            <p:inputText id="txtEmail" required="true" label="email" size="58" 
                                         requiredMessage="Por-favor insira o email."
                                         validatorMessage="E-mail Inválido, Insira-o novamente"
                                         value="#{pesquisaFornecedorBean.fornecedorSelecionado.email}">

                                <f:validateRegex
                                    pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />

                            </p:inputText> 
                        

                                <p:outputLabel value="CNPJ:" for="txtCNPJ" />
                                <p:inputMask id="txtCNPJ" value="#{pesquisaFornecedorBean.fornecedorSelecionado.cnpj}"
                                             required="true" size="50" mask="99.999.999/9999-99"  /> 

                                <p:outputLabel value="Telefone:" for="txtTelefone" />
                                <p:inputMask id="txtTelefone" value="#{pesquisaFornecedorBean.fornecedorSelecionado.telefone}"
                                             required="true" size="20" mask="(99) 9999-9999" /> 

                                <p:outputLabel value="Celular:" for="txtcell" />
                                <p:inputMask id="txtcell" value="#{pesquisaFornecedorBean.fornecedorSelecionado.celular}"
                                             required="false" size="20" mask="(99) 99999-9999" /> 

                            </p:panelGrid>
                        </p:fieldset>

                        <p:graphicImage library="images" name="line.jpg" />

                        <p:fieldset legend="Endereço do Cliente:" >

                            <p:panelGrid id="pnlCadastroFornecedorEndereco" columns="6">

                                <p:outputLabel value="Rua:" for="Rua" />
                                <p:inputText id="Rua" value="#{pesquisaFornecedorBean.fornecedorSelecionado.rua}" 
                                             required="false" size="35" /> 


                                <p:outputLabel value="Bairro:" for="Bairro" />
                                <p:inputText id="Bairro" value="#{pesquisaFornecedorBean.fornecedorSelecionado.bairro}" 
                                             required="false"  size="35" /> 

                                <p:outputLabel value="Cidade:" for="cidade" />
                                <p:inputText id="cidade" value="#{pesquisaFornecedorBean.fornecedorSelecionado.cidade}"
                                             required="false" size="24"  />

                                <p:outputLabel value="Referência:" for="ref" />
                                <p:inputText id="ref" value="#{pesquisaFornecedorBean.fornecedorSelecionado.referencia}"
                                             required="false" size="30" />

                                <p:outputLabel value="CEP:" for="cep" />
                                <p:inputMask id="cep" value="#{pesquisaFornecedorBean.fornecedorSelecionado.cep}"
                                             required="false" size="12" mask=" 99.999-999" /> 

                                <h:outputLabel value="UF:" for="uf"/>
                            <h:selectOneMenu  id="uf"
                                              value="#{pesquisaFornecedorBean.fornecedorSelecionado.uf}"
                                              style="width: 80px;"> 

                                <f:selectItem itemLabel="Selecione"
                                              itemValue="Nenhum"  />

                                <f:selectItem itemLabel="AC"
                                              itemValue="Acre"  />

                                <f:selectItem itemLabel="AL"
                                              itemValue="Alagoas"  />

                                <f:selectItem itemLabel="AM"
                                              itemValue="Amazonas"  />

                                <f:selectItem itemLabel="AP"
                                              itemValue="Amapá"  />

                                <f:selectItem itemLabel="BA"
                                              itemValue="Bahia"  />

                                <f:selectItem itemLabel="CE"
                                              itemValue="Ceará"  />

                                <f:selectItem itemLabel="DF"
                                              itemValue="Distrito Federal"  />

                                <f:selectItem itemLabel="ES"
                                              itemValue="Espirito Santo"  />

                                <f:selectItem itemLabel="GO"
                                              itemValue="Goias"  />

                                <f:selectItem itemLabel="MA"
                                              itemValue="Maranhão"  />

                                <f:selectItem itemLabel="MG"
                                              itemValue="Minas Gerais"  />

                                <f:selectItem itemLabel="MS"
                                              itemValue="Mato Grosso Sul"  />

                                <f:selectItem itemLabel="MT"
                                              itemValue="Mato Grosso"  />

                                <f:selectItem itemLabel="PA"
                                              itemValue="Pará"  />

                                <f:selectItem itemLabel="PB"
                                              itemValue="Paraiba"  />

                                <f:selectItem itemLabel="PE"
                                              itemValue="Pernanbuco"  />

                                <f:selectItem itemLabel="PI"
                                              itemValue="Piaui"  />

                                <f:selectItem itemLabel="PR"
                                              itemValue="Parana"  />

                                <f:selectItem itemLabel="RJ"
                                              itemValue="Rio de Janeiro"  />

                                <f:selectItem itemLabel="RN"
                                              itemValue="Rio Grande do Norte"  />

                                <f:selectItem itemLabel="RO"
                                              itemValue="Rondônia"  />

                                <f:selectItem itemLabel="RR"
                                              itemValue="Roraima"  />

                                <f:selectItem itemLabel="RS"
                                              itemValue="Rio Grande do Sul"  />

                                <f:selectItem itemLabel="SC"
                                              itemValue="Santa Catarina"  />

                                <f:selectItem itemLabel="SE"
                                              itemValue="Sergipe"  />

                                <f:selectItem itemLabel="SP"
                                              itemValue="São Paulo"  />

                                <f:selectItem itemLabel="TO"
                                              itemValue="Tocantins"  />

                            </h:selectOneMenu> 


                                <p:outputLabel value="Número:" for="num" />
                                <p:inputText id="num" value="#{pesquisaFornecedorBean.fornecedorSelecionado.numero}"
                                             required="false" size="4" />

                                <p:outputLabel value="Ativo:" for="txtAtivo" />
                                <p:selectBooleanCheckbox id="txtAtivo" value="#{pesquisaFornecedorBean.fornecedorSelecionado.ativo}"
                                                         required="true" /> 


                            </p:panelGrid> </p:fieldset>
                        <p:graphicImage library="images" name="line.jpg" />

                        <center>
                            <p:commandButton id="botaosalvar" actionListener="#{pesquisaFornecedorBean.atualizar}" value="Salvar" 
                                             icon="ui-icon-disk"  update="growl,:Formulario:gridFornecedores" oncomplete="PF('dglEditarFornecedor').hide();" />
                            <p:commandButton id="botaocancelar" value="Cancelar" onclick="PF('dglEditarFornecedor').hide();" />
                        </center>


                    </h:form>
                </p:dialog>

            </ui:define>

        </ui:composition>

    </body>
</html>
