<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <body>

        <ui:composition template="./Template.xhtml">

            <ui:define name="content">
                
                <h:form id="formulario">
                    <center>
                    <p:panelGrid columns="4" id="grideiro">
                        <f:facet name="header">
                            Pesquisar Produtos                            
                        </f:facet>
                        
                        <p:outputLabel value="Nome do Produto:" for="txtNome" />
                        <p:inputText id="txtNome" value="#{pesquisaProdutoBean.nome}"  label="Nome"  size="50"/>
                        
                        <p:commandButton id="salvation" actionListener="#{pesquisaProdutoBean.pesquisaProdutos}" ajax="false"   update="gridProdutos" value="Pesquisar" />
                        <f:facet name="footer">
                           <center>  - </center>                           
                        </f:facet>
                        
                    </p:panelGrid>
                    </center>


                    
                    <p:separator/>
                    
                    <center>
                        <p:dataTable  value="#{pesquisaProdutoBean.listaProduto}" var="produtos" id="gridProdutos" scrollable="true" scrollHeight="815" >
                            <f:facet name="header">
                                Produtos cadastrados                   
                            </f:facet>

                            <p:column headerText="ID" width="30">
                                #{produtos.id}
                            </p:column>

                            <p:column headerText="Produto" width="400">
                                #{produtos.nome}
                            </p:column>

                            <p:column headerText="Preço" width="100">
                                #{produtos.preco}
                            </p:column>

                            <p:column headerText="Editar" width="40">
                                
                                <p:graphicImage library="images" name="edit_property.png" />
                                
                                <p:graphicImage library="images" name="especo.png" />
                                
                                <p:graphicImage library="images" name="del.png" />
                                
                            </p:column>

                            <f:facet name="footer">
                                <center>  - </center>
                            </f:facet>

                        </p:dataTable>
                    </center>     

                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
