<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <body>

        <ui:composition template="./Template.xhtml">

            <ui:define name="content">
                <h:form id="formulario" >
            
                    
                    <p:panelGrid columns="3">
                        <p:fieldset legend="Dados da Compra:" >
                            <p:outputLabel value="Data Inicial:" for="pesquisaDataInicial" />
                            <p:outputLabel for="pesquisaDataInicial" value="Data Inicial :" />
                            <p:calendar id="pesquisaDataInicial" effect="fold"  pattern="dd/MM/yyyy" value="#{pesquisaComprasBean.dataInicial}"/>
                            <p:outputLabel for="pesquisaDataFim" value="Data final :" />
                            <p:calendar id="pesquisaDataFim" effect="fold"  pattern="dd/MM/yyyy" value="#{pesquisaComprasBean.dataFinal}"  />


                            <p:commandButton id="botaosalvar" value="Pesquisar" actionListener="#{pesquisaComprasBean.pesquisaPorData}" validateClient="true"
                                             ajax="false"     icon="ui-icon-disk"  update="growl,gridCompra" />
                        </p:fieldset> 
                    </p:panelGrid>

                    <p:dataTable value="#{pesquisaComprasBean.listaCompra}" var="compra" id="gridCompra" style="font-size: 16px;" scrollable="true" >


                        <p:column headerText="Nome">
                            #{compra.fornecedor.nome}
                        </p:column>

                        <p:columnGroup type="header">
                            <p:row>
                                <p:column rowspan="2" headerText="Team" />
                                <p:column colspan="2" headerText="Stats" />
                                <p:column rowspan="2" headerText="Total" />
                              
                            
                            
                            </p:row>
                            <p:row>
                                <p:column headerText="Quantidade" />
                                <p:column headerText="Preço" />
                              
                              
                            </p:row>
                        </p:columnGroup>

                        <p:subTable var="item" value="#{compra.listaProdutos}">
                            <f:facet name="header"> 
                            
                                <h:outputText value="#{compra.fornecedor.nome}" />
                            </f:facet>
                            
                            <p:column>
                                <h:outputText value="#{item.produto.nome}" />
                            </p:column>
                            <p:column>
                                <h:outputText value="#{item.quantidade}" />
                            </p:column>
                            <p:column>
                                <h:outputText value="#{item.preco}" />
                            </p:column>
                            <p:column>
                                <h:outputText value="#{item.total}" />
                            </p:column>
                            <p:columnGroup type="footer">
                                <p:row>
                                    <p:column footerText="Total " style="text-align:right"/>
                                    <p:column footerText="#{compra.total}" />
                                </p:row>
                            </p:columnGroup>
                        </p:subTable>


                    </p:dataTable>

                </h:form>

            </ui:define>

        </ui:composition>

    </body>
</html>
