<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <body>

        <ui:composition template="./Template.xhtml">

            
            <ui:define name="content">
                
                 <h:form id="Formulario">
                    <center> 
                        <p:panelGrid columns="4" id="grideiro">

                            <f:facet name="header">
                                Pesquisa de Vendas:
                            </f:facet>

                            <p:outputLabel value="Fornecedor:" for="PesquisaFornecedor" />
                            <p:inputText id="PesquisaFornecedor" value="#{pesquisaFornecedorBean.fornecedorPesquisado.nome}"  label="Fornecedores" />

                            <p:outputLabel value="CNPJ:" for="CNPJ" />
                            <p:inputMask size="16" mask="99.999.999/9999-99" id="CNPJ" value="#{pesquisaFornecedorBean.fornecedorPesquisado.cnpj}"  label="CNPJ" />

                            <p:outputLabel value="E-mail:" for="mail" />
                            <p:inputText size="19" id="mail" value="#{pesquisaFornecedorBean.fornecedorPesquisado.email}"  label="Mail" />

                            <p:outputLabel value="Telefone:" for="tell" />
                            <p:inputMask size="16" mask="(99) 9999-9999" id="tell" value="#{pesquisaFornecedorBean.fornecedorPesquisado.telefone}"  label="tell" />

                            <p:outputLabel value="Celular:" for="txtcell" />
                            <p:inputMask id="txtcell" value="#{pesquisaFornecedorBean.fornecedorPesquisado.celular}"
                                         size="20" mask="(99) 99999-9999" /> 


                            <f:facet name="footer">
                                <center><p:commandButton  id="salvation" actionListener="#{pesquisaFornecedorBean.pesquisaFornecedores}" update="gridFornecedores" value="Pesquisar" /></center>
                            </f:facet>

                        </p:panelGrid>
                    </center> 
                    <p:separator/>



                    <center>
                        <p:dataTable  value="#{pesquisaFornecedorBean.listaFornecedor}" var="fornecedor" id="gridFornecedores"  >
                            <f:facet name="header">
                                Fornecedores Cadastrados               
                            </f:facet>

                            <p:column headerText="Nome" width="290">
                                #{fornecedor.nome}
                            </p:column>

                            <p:column headerText="E-mail" width="260">
                                #{fornecedor.email}
                            </p:column>

                            <p:column headerText="CNPJ">
                                #{fornecedor.cnpj}
                            </p:column>

                            <p:column headerText="Telefone">
                                #{fornecedor.telefone}
                            </p:column>

                            <p:column headerText="Editar">

                            </p:column>

                            <p:column headerText="Editar" width="40">
                                <p:commandLink  process="@this"  update=":frmedit:pnlCadastroFornecedor" onclick="PF('dglEditarFornecedor').show();"  >
                                    <p:graphicImage library="imagens" name="edit-icon.png" />
                                    <f:setPropertyActionListener target="#{pesquisaFornecedorBean.fornecedorSelecionado}" value="#{fornecedor}" />
                                </p:commandLink>
                            </p:column>

                            <f:facet name="footer">
                                <center>  - </center>
                            </f:facet>

                        </p:dataTable>  </center>
                </h:form>
                
                  <p:dialog header="Editar Fornecedor" style="font-weight:bold"
                          widgetVar="dglEditarFornecedor" resizable="false" id="dlg"
                          showEffect="fade" hideEffect="fade" 
                          modal="true" >
                    <h:form id="frmedit">
                        <p:panelGrid id="pnlCadastroFornecedor" columns="4">
                            <p:outputLabel value="Nome:" for="txtNome" />
                            <p:inputText id="txtNome" value="#{pesquisaFornecedorBean.fornecedorSelecionado.nome}" required="true" size="50" /> 

                            <p:outputLabel value="Email:" for="txtEmail" />
                            <p:inputText id="txtEmail" value="#{pesquisaFornecedorBean.fornecedorSelecionado.email}" required="true"  size="50" /> 

                            <p:outputLabel value="CNPJ:" for="txtCNPJ" />
                            <p:inputMask id="txtCNPJ" value="#{pesquisaFornecedorBean.fornecedorSelecionado.cnpj}"
                                         required="false" size="50" mask="99.999.999/9999-99"  /> 

                            <p:outputLabel value="Telefone:" for="txtTelefone" />
                            <p:inputMask id="txtTelefone" value="#{pesquisaFornecedorBean.fornecedorSelecionado.telefone}"
                                         required="true" size="20" mask="(99) 9999-9999" /> 

                            <p:outputLabel value="Celular:" for="txtcell" />
                            <p:inputMask id="txtcell" value="#{pesquisaFornecedorBean.fornecedorSelecionado.celular}"
                                         required="true" size="20" mask="(99) 99999-9999" /> 
                            <f:facet name="footer">
                                <center>
                                    <p:commandButton id="botaosalvar" actionListener="#{pesquisaFornecedorBean.atualizar}" value="Salvar" 
                                                     icon="ui-icon-disk"  update="growl,:Formulario:gridFornecedores" oncomplete="PF('dglEditarFornecedor').hide();" />
                                    <p:commandButton id="botaocancelar" value="Cancelar" onclick="PF('dglEditarFornecedor').hide();" />
                                </center>
                            </f:facet>
                        </p:panelGrid>
                    </h:form>
                </p:dialog>
            </ui:define>

        </ui:composition>

    </body>
</html>
