<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pm="http://primefaces.org/mobile">


    <body>

        <ui:composition template="./Template.xhtml">



            <ui:define name="content">
                <p:graphicImage library="images" name="line.jpg" /> 
                <h:form id="Formulario">
                    <center>                       

                        <p:panelGrid columns="4" id="grideiro">

                            <f:facet name="header">
                                Pesquisa de Clientes:
                            </f:facet>

                            <p:outputLabel value="Nome:" for="PesquisaNome"/>
                            <p:inputText  size="60" id="PesquisaNome" value="#{ClienteBean.cliente.nome}"  label="Nome" />


                            <f:facet name="footer">
                                <center>
                                    <p:commandButton id="salvation" actionListener="#{ClienteBean.pesquisaClientes}" ajax="false"   update="gridClientes" value="Pesquisar" icon="fa fa-search" />
                                </center> 
                            </f:facet>
                        </p:panelGrid>



                    </center>
                    <p:graphicImage library="images" name="line.jpg" />
                    <center>
                        <p:dataTable  value="#{ClienteBean.listaCliente}" var="cliente" id="gridClientes"  scrollable="true" scrollHeight="585">
                            <f:facet name="header">
                                Clientes Cadastrados                    
                            </f:facet>

                            <p:column style="width:10px" headerText="Info" >
                                <p:rowToggler/>
                            </p:column>

                            <p:column headerText="Nome" width="200">
                                #{cliente.nome}
                            </p:column>

                            <p:column headerText="E-mail" width="200">
                                #{cliente.email}
                            </p:column>


                            <p:rowExpansion>
                                <h:form id="form">

                                    <p:growl id="msgs" showDetail="true" />


                                    <p:tabView>
                                        <p:tab title="Detalhes do Cliente:">
                                            <p:panelGrid  columns="2" columnClasses="label,value" style="width:500px;height:200px">

                                                <p:outputLabel value="RG:"  />
                                                #{cliente.rg}


                                                <p:outputLabel value="CPF:" />
                                                #{cliente.cpf}


                                                <p:outputLabel value="Telefone:"  />
                                                #{cliente.telefone}

                                                <p:outputLabel value="Celular:" />
                                                #{cliente.celular}

                                            </p:panelGrid>

                                        </p:tab>

                                        <p:tab title="Endereço do Cliente:">

                                            <p:panelGrid  columns="2" columnClasses="label,value" style="width:500px">



                                                <p:outputLabel value="Rua:"  />
                                                #{cliente.rua}


                                                <p:outputLabel value="Bairro:"  />
                                                #{cliente.bairro}

                                                <p:outputLabel value="Cidade:"  />
                                                #{cliente.cidade}

                                                <p:outputLabel value="Referência:" />
                                                #{cliente.referencia}

                                                <p:outputLabel value="CEP:"  />
                                                #{cliente.cep}

                                                <p:outputLabel value="UF:"  />
                                                #{cliente.uf}

                                                <p:outputLabel value="Número:"  />
                                                #{cliente.numero}

                                            </p:panelGrid>

                                        </p:tab>  

                                    </p:tabView>
                                </h:form>
                            </p:rowExpansion>



                            <p:column headerText="Editar" width="50">

                                <!-- Abaixo janela editar user! -->

                                <p:commandLink  process="@this"  update=":frmedit:pnlCadastroCliente,:frmedit:pnlCadastroClienteEndereco" onclick="PF('dglEditarCliente').show();"  >
                                    <p:graphicImage library="images" name="edit_property.png" />
                                    <f:setPropertyActionListener target="#{pesquisaClienteBean.clienteSelecionado}" value="#{cliente}" />
                                </p:commandLink>

                                <!-- fim janela editar user!/ -->

                                <p:graphicImage library="images" name="especo.png" />

                                <!-- Abaixo janela de deletar user -->

                                <p:commandLink  process="@this" update="deletUser:pnlDell" onclick="PF('dglDeletarCliente').show();"  >
                                    <p:graphicImage library="images" name="del.png" />
                                    <f:setPropertyActionListener target="#{pesquisaClienteBean.clienteSelecionado}" value="#{cliente}" />
                                </p:commandLink>

                                <!-- fim janela de deletar user /-->

                            </p:column>

                            <f:facet name="footer">
                                <center> - </center>
                            </f:facet>             
                        </p:dataTable></center> 
                </h:form>

                <!-- Abaixo janela de deletar user -->

                <p:dialog header="Apagar?" style="font-weight:bold"
                          widgetVar="dglDeletarCliente" resizable="false" id="dlg1"
                          showEffect="fade" hideEffect="fade" 
                          modal="true" >
                    <h:form id="deletUser">
                        <p:panelGrid id="pnlDell" columns="4">

                            <p:outputLabel value="ID:" />
                            #{pesquisaClienteBean.clienteSelecionado.id}

                            <p:outputLabel value="Cliente:"  />

                            #{pesquisaClienteBean.clienteSelecionado.nome}


                        </p:panelGrid>
                        <center>
                            <p:commandButton id="botaodeletar" actionListener="#{pesquisaClienteBean.setarfalso()}" value="Deletar" 
                                             icon="ui-icon-disk"  update="growl,:Formulario:gridClientes" oncomplete="PF('dglDeletarCliente').hide();" />
                            <p:commandButton id="botaocancelar1" value="Cancelar" onclick="PF('dglDeletarCliente').hide();" />
                        </center>

                    </h:form> </p:dialog>

                <!-- fim janela de deletar user -->



                <!-- Abaixo janela editar user! -->

                <p:dialog header="Editar Cliente" style="font-weight:bold"
                          widgetVar="dglEditarCliente" resizable="false" id="dlg"
                          showEffect="fade" hideEffect="fade" 
                          modal="true" >
                    <h:form id="frmedit">


                        <p:fieldset legend="Dados do Cliente:" >
                            <p:panelGrid id="pnlCadastroCliente" columns="4">


                                <p:outputLabel value="Cliente:" for="txtCliente" />
                                <p:inputText id="txtCliente" value="#{pesquisaClienteBean.clienteSelecionado.nome}" required="true" size="57" /> 


                                <p:outputLabel value="Email:" for="txtEmail" />
                                <p:inputText id="txtEmail" value="#{pesquisaClienteBean.clienteSelecionado.email}" required="false"  size="58" /> 



                                <p:outputLabel value="RG:" for="txtRG" />
                                <p:inputText id="txtRG" value="#{pesquisaClienteBean.clienteSelecionado.rg}"
                                             required="false" size="30"  /> 

                                <p:outputLabel value="CPF:" for="txtCPF" />
                                <p:inputMask id="txtCPF" value="#{pesquisaClienteBean.clienteSelecionado.cpf}"
                                             required="false"  size="20" mask="999.999.999-99" /> 


                                <p:outputLabel value="Telefone:" for="txtTelefone" />
                                <p:inputMask id="txtTelefone" value="#{pesquisaClienteBean.clienteSelecionado.telefone}"
                                             required="false" size="20" mask="(99) 9999-9999" /> 

                                <p:outputLabel value="Celular:" for="txtcell" />
                                <p:inputMask id="txtcell" value="#{pesquisaClienteBean.clienteSelecionado.celular}"
                                             required="false" size="20" mask="(99) 99999-9999" /> 


                            </p:panelGrid>
                        </p:fieldset>

                        <p:graphicImage library="images" name="line.jpg" />

                        <p:fieldset legend="Endereço do Cliente:" >

                            <p:panelGrid id="pnlCadastroClienteEndereco" columns="6">

                                <p:outputLabel value="Rua:" for="Rua" />
                                <p:inputText id="Rua" value="#{pesquisaClienteBean.clienteSelecionado.rua}" 
                                             required="false" size="35" /> 


                                <p:outputLabel value="Bairro:" for="Bairro" />
                                <p:inputText id="Bairro" value="#{pesquisaClienteBean.clienteSelecionado.bairro}" 
                                             required="false"  size="35" /> 

                                <p:outputLabel value="Cidade:" for="cidade" />
                                <p:inputText id="cidade" value="#{pesquisaClienteBean.clienteSelecionado.cidade}"
                                             required="false" size="24"  />

                                <p:outputLabel value="Referência:" for="ref" />
                                <p:inputText id="ref" value="#{pesquisaClienteBean.clienteSelecionado.referencia}"
                                             required="false" size="30" />

                                <p:outputLabel value="CEP:" for="cep" />
                                <p:inputMask id="cep" value="#{pesquisaClienteBean.clienteSelecionado.cep}"
                                             required="false" size="12" mask=" 99.999-999" /> 

                                <h:outputLabel value="UF:" for="uf1"/>
                                <h:selectOneMenu  id="uf1"
                                                  value="#{pesquisaClienteBean.clienteSelecionado.uf}"
                                                  style="width: 80px;"> 

                                    <f:selectItem itemLabel="Selecione"
                                                  itemValue="Nenhum"  />

                                    <f:selectItem itemLabel="AC"
                                                  itemValue="Acre"  />

                                    <f:selectItem itemLabel="AL"
                                                  itemValue="Alagoas"  />

                                    <f:selectItem itemLabel="AM"
                                                  itemValue="Amazonas"  />

                                    <f:selectItem itemLabel="AP"
                                                  itemValue="Amapá"  />

                                    <f:selectItem itemLabel="BA"
                                                  itemValue="Bahia"  />

                                    <f:selectItem itemLabel="CE"
                                                  itemValue="Ceará"  />

                                    <f:selectItem itemLabel="DF"
                                                  itemValue="Distrito Federal"  />

                                    <f:selectItem itemLabel="ES"
                                                  itemValue="Espirito Santo"  />

                                    <f:selectItem itemLabel="GO"
                                                  itemValue="Goias"  />

                                    <f:selectItem itemLabel="MA"
                                                  itemValue="Maranhão"  />

                                    <f:selectItem itemLabel="MG"
                                                  itemValue="Minas Gerais"  />

                                    <f:selectItem itemLabel="MS"
                                                  itemValue="Mato Grosso Sul"  />

                                    <f:selectItem itemLabel="MT"
                                                  itemValue="Mato Grosso"  />

                                    <f:selectItem itemLabel="PA"
                                                  itemValue="Pará"  />

                                    <f:selectItem itemLabel="PB"
                                                  itemValue="Paraiba"  />

                                    <f:selectItem itemLabel="PE"
                                                  itemValue="Pernanbuco"  />

                                    <f:selectItem itemLabel="PI"
                                                  itemValue="Piaui"  />

                                    <f:selectItem itemLabel="PR"
                                                  itemValue="Parana"  />

                                    <f:selectItem itemLabel="RJ"
                                                  itemValue="Rio de Janeiro"  />

                                    <f:selectItem itemLabel="RN"
                                                  itemValue="Rio Grande do Norte"  />

                                    <f:selectItem itemLabel="RO"
                                                  itemValue="Rondônia"  />

                                    <f:selectItem itemLabel="RR"
                                                  itemValue="Roraima"  />

                                    <f:selectItem itemLabel="RS"
                                                  itemValue="Rio Grande do Sul"  />

                                    <f:selectItem itemLabel="SC"
                                                  itemValue="Santa Catarina"  />

                                    <f:selectItem itemLabel="SE"
                                                  itemValue="Sergipe"  />

                                    <f:selectItem itemLabel="SP"
                                                  itemValue="São Paulo"  />

                                    <f:selectItem itemLabel="TO"
                                                  itemValue="Tocantins"  />

                                </h:selectOneMenu> 




                                <p:outputLabel value="Número:" for="num" />
                                <p:inputText id="num" value="#{pesquisaClienteBean.clienteSelecionado.numero}"
                                             required="false" size="4" />

                                <p:outputLabel value="Ativo:" for="txtAtivo" />
                                <p:selectBooleanCheckbox id="txtAtivo" value="#{pesquisaClienteBean.clienteSelecionado.ativo}"
                                                         required="true" />  


                            </p:panelGrid> </p:fieldset>
                        <p:graphicImage library="images" name="line.jpg" />

                        <center>
                            <p:commandButton id="botaosalvar" actionListener="#{pesquisaClienteBean.atualizar}" value="Salvar" 
                                             icon="ui-icon-disk"  update="growl,:Formulario:gridClientes" oncomplete="PF('dglEditarCliente').hide();" />
                            <p:commandButton id="botaocancelar" value="Cancelar" onclick="PF('dglEditarCliente').hide();" />
                        </center>


                    </h:form>
                </p:dialog>

                <!-- fim janela editar user! -->


            </ui:define>

        </ui:composition>

    </body>
</html>
