<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pm="http://primefaces.org/mobile">

    <body>

        <ui:composition template="./Template.xhtml">

            <ui:define name="content">
               <h:form id="formulario" >
                <p:outputLabel value="Tipo:" for="txtTipo" />
                <p:inputText id="txtTipo" value="#{TipoBean.tipo.tipo}" required="true" /> 
                
                <p:commandButton id="botaosalvar" actionListener="#{TipoBean.salvar}" value="Salvar" 
                        icon="ui-icon-disk"  update="growl,txtTipo,gridTipos" />
               </h:form>
                
                      <p:separator />

                <p:dataTable  value="#{TipoBean.tipos}" var="tipo" id="gridTipos"  >
                    <p:column headerText="Tipos do Banco">
                        #{tipo.tipo}
                    </p:column>
                </p:dataTable>

        </ui:define>

        </ui:composition>

    </body>
    
     
</html>
