<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pm="http://primefaces.org/mobile">

    <body>

        <ui:composition template="./Template.xhtml">

            <ui:define name="content">
                <h:form id="formulario" >
                     <f:facet name="header">
                        Cadastro de Cliente
                    </f:facet>
                    <p:panelGrid columns="2">

                        <p:outputLabel value="Cliente:" for="txtCliente" />
                        <p:inputText id="txtCliente" value="#{ClienteBean.cliente.nome}" required="true" /> 


                        <p:outputLabel value="Email:" for="txtEmail" />
                        <p:inputText id="txtEmail" value="#{ClienteBean.cliente.email}" required="true" /> 
                        
                        <p:outputLabel value="RG:" for="txtRG" />
                        <p:inputText id="txtRG" value="#{ClienteBean.cliente.rg}"
                                     required="true" /> 
                        
                        <p:outputLabel value="CPF:" for="txtCPF" />
                        <p:inputText id="txtCPF" value="#{ClienteBean.cliente.cpf}"
                                     required="true" /> 
                        
                        <p:outputLabel value="Telefone:" for="txtTelefone" />
                        <p:inputText id="txtTelefone" value="#{ClienteBean.cliente.telefone}"
                                     required="true" /> 
                        
                        <p:outputLabel value="Ativo:" for="txtAtivo" />
                        <p:selectBooleanCheckbox id="txtAtivo" value="#{ClienteBean.cliente.ativo}"
                                     required="true" /> 

                        <p:outputLabel value="Novo:" for="txtNovo" />
                        <p:selectBooleanCheckbox id="txtNovo" value="#{ClienteBean.cliente.ativo}"
                                     required="true" /> 
                                              
                        <p:commandButton id="botaosalvar" actionListener="#{ClienteBean.salvar}" value="Salvar" 
                        icon="ui-icon-disk"  update="growl,txtCliente,txtEmail,txtRG,txtCPF,txtTelefone" />
                        

                    </p:panelGrid>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
