<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="./css/default.css"/>
        <h:outputStylesheet name="./css/cssLayout.css"/>
        <title>Boladão</title>
    </h:head>

    <div id="cabecalho">
        <p:graphicImage library="images" name="google.png"/>
    </div>

    <h:body>
 <p:growl id="growl"/>
        <div id="top">
            <h:form>  
                <p:growl id="messages"/>

                <p:menubar style="color: black">
                    <p:menuitem value="Home" url="index.xhtml" icon="fa fa-home"/>                    
                    
                    <p:submenu label="Clientes" icon="fa fa-users">
                        <p:menuitem value="Novo Cliente" url="CadastroCliente.xhtml" icon="fa fa-user"/>
                        <p:menuitem value="Pesquisar Clientes" url="#"   icon="fa fa-users"/>
                        
                        <p:separator />
                        <p:menuitem value="Sair" url="#" icon="#"  />
                    </p:submenu>

                    <p:submenu label="Compras" icon="fa fa-shopping-cart">
                        <p:menuitem value="Cadastrar compras" url="#" icon="fa fa-plus-circle" />
                        <p:menuitem value="Consultar Gastos" url="#" icon="fa fa-usd" />
                    </p:submenu>
                   
                    <p:submenu label="Fornecedor" icon="ui-icon-gear">
                            <p:menuitem value="Cadastrar Fornecedor" actionListener="#" icon="fa fa-user" />
                            <p:menuitem value="Consultar Fornecedor" actionListener="#" icon="fa fa-shopping-cart" />
                        </p:submenu>
                    
                    <p:submenu label="Relatórios" icon="fa fa-bar-chart-o">
                        <p:menuitem value="Gerar Relatório" url="#" icon="fa fa-file-pdf-o"/>
                           </p:submenu> 
                                     
                    <p:menuitem value="Sair da aplicação." url="#" onclick="window.close();" icon="ui-icon-close" />
                    
                    
                    <f:facet name="options">
                        <p:inputText style="margin-right:20px" placeholder="Pesquisar"/>
                       
                    </f:facet>
                </p:menubar>
            </h:form>
        </div>

        <div id="content" class="conteudo">
            <ui:insert name="content">Content</ui:insert>
        </div>

        <div id="rodape">
           
            <div style="text-align: center;">
        <p>
            <p:graphicImage library="images" name="fw.png"/>
        </p>
            <text>
            Todos os direitos reservados - Template construído e Desenvolvido por <a href="https://plus.google.com/u/0/103343259332538588451/posts">Rogers Marques.</a>
            </text>
        </div>
        </div>
    </h:body>

</html>
